@import "../../Scss/colors";
@import "../../Scss/fonts";

#tech-container {
  width: 100vw;
  max-width: 1200px;
  height: 700px;
  border-top: 4px solid $primary-color;
  border-bottom: 4px solid $primary-color;
  position: relative;
  overflow: hidden;
}

text {
  font-weight: 700;
  fill: white;
  pointer-events: none;
  font-size: 14px;
}

circle {
  transition: all 150ms linear;
}

svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
