@import "../../Scss/colors";
@import "../../Scss/fonts";

#tech-container {
  width: 100vw;
  max-width: 1200px;
  height: 700px;
  border-top: 4px solid $primary-color;
  border-bottom: 4px solid $primary-color;
  position: relative;
  overflow: hidden;
}

text {
  font-weight: 700;
  fill: white;
  pointer-events: none;
  font-size: 14px;
  transition: font-size 150ms linear;
}

.selected-bubble {
  font-size: 20px;
  opacity: 1;
}

.skill-bubble-level {
  transform: translateY(30px);
  font-size: $big-text;
  transition: opacity 150ms linear;
}

circle {
  transition: all 150ms linear;
}

svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
