@import "../../Scss/colors";
@import "../../Scss/fonts";

.tech-container {
  border-top: 4px solid $primary-color;
  border-bottom: 4px solid $primary-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: $small-text;
  font-weight: 700;
  margin: 0 30px;

  div {
    margin: 1em 1.5em;
  }
}

.tech-display {
  font-size: $medium-text;
  font-family: $primary-font;
  font-weight: 700;
}

.tech-name {
  margin: 30px 0 15px 0;
}
