@import "../../Scss/colors";
@import "../../Scss/fonts";

.nav-link,
.nav-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $primary-color;
  margin: 0 20px;
  text-decoration: none;
  outline: none;
  border: none;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    border-bottom: 5px solid $primary-color;
  }

  &:active {
    border: none;
  }
}

.custom-icon {
  font-size: $big-text;
  margin-right: 10px;
}

.link-text {
  font-family: $primary-font;
  font-size: $big-text;
  font-weight: 700;
  transition: all 200ms linear;
}
