@import "../../Scss/colors";
@import "../../Scss/fonts";

.paragraph-container {
  margin: 0 30px;
  text-align: justify;
  color: $text-dark;
  font-size: $medium-text;
  font-family: $primary-font;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .paragraph-container {
    font-size: $medium-big-text;
  }
}
