@import "../../Scss/colors";
@import "../../Scss/fonts";

.puzzlepage-container {
  width: 100%;
  height: 100vh;

  h1 {
    font-family: $primary-font;
    font-size: $largest-text;
    margin: 100px;
  }
}
