@import "../../Scss/colors";
@import "../../Scss/fonts";

#techtext-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 3px solid $primary-color;
  border-bottom: 3px solid $primary-color;
  padding: 10px;

  div {
    margin: 0 50px;
    padding: 10px;
    font-size: $medium-text;
  }
}
