.section-container {
  width: 95%;
  height: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  transition: width 250ms linear;

  &:focus {
    width: 100%;
  }
}

.section-content-container {
  height: 100%;
  overflow: hidden;
}

.hide-content {
  height: 0;
}

.section-content {
  padding: 30px;
}
