.section-container {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;

  &:focus {
    opacity: 0.6;
  }
}

.section-content-container {
  height: 100%;
  overflow: hidden;
}

.hide-content {
  height: 0;
}

.section-content {
  padding: 30px;
}
