@import "../../Scss/colors";
@import "../../Scss/fonts";

.profile-container {
  height: 100%;
  width: 400px;
  position: relative;
  margin-bottom: 100px;
}

.profileimage-container {
  width: 300px;
  height: 400px;
  margin-top: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 400px;
    height: 400px;
    transition: all 200ms linear;
  }

  img:hover {
    width: 410px;
    height: 410px;
  }
}

.image-label {
  position: absolute;
  background-color: $tertiary-color;
  color: $primary-color;
  border: 3px solid $primary-color;
  font-size: $big-text;
  font-weight: 700;
  font-family: $primary-font;
  padding: 0.6em 0.9em;
  bottom: -65px;
  right: -20px;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .profile-container {
    margin-right: 100px;
  }
}
