@import "../../Scss/colors";
@import "../../Scss/fonts";

#profileimage-container {
  width: 320px;
  height: 320px;
  display: none;
  background-color: $primary-color;
  color: $text-light;
  border-radius: 50%;
  border: 3px solid white;
  outline: 5px solid $primary-color;

  img {
    width: 320px;
    height: 320px;
    transition: all 200ms linear;
  }

  img:hover {
    width: 328px;
    height: 328px;
  }
}

@media (min-width: 1200px) {
  #profileimage-container {
    margin: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}
