@import "../../Scss/colors";
@import "../../Scss/fonts";

.profile-container {
  height: 100%;
  width: 400px;
  position: relative;
  margin-bottom: 100px;
}

.profileimage-container {
  width: 300px;
  height: 400px;
  margin: 100px auto 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: $text-light;

  img {
    width: 400px;
    height: 400px;
    transition: all 200ms linear;
  }

  img:hover {
    width: 410px;
    height: 410px;
  }
}

@media (min-width: 1200px) {
  .profile-container {
    margin-right: 100px;
  }
}
