@import "../../Scss/colors";
@import "../../Scss/fonts";

.sectionheader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  color: $secondary-color;
  background-color: $primary-color;
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-weight: 600;
  font-family: $primary-font;
}

.sectionheader-title {
  font-size: $medium-big-text;
}

.section-icons {
  font-size: $medium-big-text;
  padding-right: 10px;
}
