$primary-color: rgb(38, 38, 125);
$secondary-color: rgb(230, 227, 223);

$gradient-highlight: rgba(184, 183, 184, 0.7);
$gradient-dark: rgba(38, 38, 125, 0);

$text-dark: black;
$text-light: rgba(220, 217, 211, 0.864);
