$primary-color: rgb(24, 10, 67);
$secondary-color: rgb(236, 235, 234);
$tertiary-color: rgba(250, 250, 249, 0.95);
$primary-color-alpha: rgba(24, 10, 67, 0.6);

$gradient-highlight: rgba(184, 183, 184, 0.7);
$gradient-dark: rgba(38, 38, 125, 0);

$text-dark: black;
$text-light: rgba(220, 217, 211, 0.864);

$color-label-light: rgb(210, 117, 210);
$color-label-dark: rgb(72, 1, 72);
