@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");

$largest-text: 3rem;
$big-text: 2rem;
$medium-big-text: 1.5rem;
$medium-text: 1.3rem;
$small-text: 1.1rem;

$primary-font: "Cormorant Garamond", serif;
