@import "../../Scss/colors";
@import "../../Scss/fonts";

.homepage-container {
  background-color: $secondary-color;
  width: 100%;
}

h1 {
  font-family: $primary-font;
  font-size: $largest-text;
  color: $text-dark;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
}

.section-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

@media (min-width: 1500px) {
  .section-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 800px) {
  .projects-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
